<% provide(:title, (!@current_course.nil?) ? 'Текущий курс ' + @current_course.name : '') %>

<!--->
<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>
<script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            add: function (e, data) {
                data.context = $('<button/>').text('Upload')
                        .appendTo(document.body)
                        .click(function () {
                            data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                            data.submit();
                        });
            },
            done: function (e, data) {
                data.context.text('Upload finished.');
            }
        });
    });
</script>
<!--->

<%= render 'index/parts/course_buttons' %>
<%= will_paginate @timetables %>

<div class="row">
    <h1 class="lessons">Уроки</h1>
    <ul  class="list-items">
      <%= render 'lessons/parts/timetables', timetables: @timetables %>
    </ul>
</div>

<%= will_paginate @timetables %>
<%= render 'index/parts/course_buttons' %>