<% provide(:title, (!@current_course.nil?) ? 'Текущий курс ' + @current_course.name : '') %>
<%= render 'index/parts/course_buttons' %>
<%= will_paginate @lessons %>

<div class="row">
    <h1 class="lessons">Уроки</h1>
    <ul  class="lessons">
      <%= render @lessons %>
    </ul>
</div>

<%= will_paginate @lessons %>
<%= render 'index/parts/course_buttons' %>