<% provide(:title, 'Добро пожаловать в nouscourse') %>
<%= render 'index/parts/course_buttons' %>
<%= will_paginate @lessons %>

<div class="row">
    <ul  class="lessons">
      <%= render @lessons %>
    </ul>
</div>

<%= will_paginate @lessons %>
<%= render 'index/parts/course_buttons' %>