<% provide(:title, 'Список уроков для курса ' + @course.name) %>
<h1>Список уроков для курса <%=@course.name%></h1>
<div class="row">
  <div class="btn-group pull-left">
    <%= link_to @back_url, title: 'Назад', class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-chevron-left"></i>
    <% end %>
    <%= link_to new_course_lesson_path(@course), title: 'Добавить урок', class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-plus"></i>
    <% end %>
    <%= link_to course_lessons_path, method: :delete, title: 'Удалить все уроки', class: 'btn btn-default btn-sm', data: { confirm: "You sure?" }  do %>
        <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </div>
</div>
<div class="row">
  <%= will_paginate %>

  <ul class="list-items">
    <%= render @lessons, should_show_admin_panel: true %>
  </ul>

  <%= will_paginate %>
</div>