<% provide(:title, 'Все курсы') %>
<h1>Все курсы</h1>

<div class="row">
  <div class="btn-group pull-left">
    <%= link_to new_course_path, title: 'Добавить курс', class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-plus"></i>
    <% end %>
    <%= link_to courses_path, method: :delete, title: 'Удалить все курсы', class: 'btn btn-default btn-sm', data: { confirm: "You sure?" }  do %>
        <i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </div>
</div>
<div class="row">
    <%= will_paginate %>

    <ul class="list-items">
        <%= render @courses %>
    </ul>

    <%= will_paginate %>
</div>